h1 {
}
body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
}
form {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input, select, button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: calc(100% - 22px);
}
button {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #037d50;
}

